#Dott {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 2rem;

    #Face {
        /* border: 1px solid blue; */
        height: 100%;
        display: flex;
        flex-direction: column;
        position: relative;

        .faceHalf {
            /* border: 1px solid purple; */
            padding: 2rem;
        }

        #FaceTop {
            display: flex;
            justify-content: center;
            align-items: end;
            flex: 2;

            #Eyes {
                /* border: 1px solid green; */
                display: flex;
                gap: 10rem;
                transition: all 0.2s ease-out;
                .eye {
                    /* border: 1px solid yellow; */
                    width: 2rem;
                    height: 12rem;
                    background-color: black;
                    animation: blink 6s 3s infinite;
                }
            }
        }

        #FaceBottom {
            display: flex;
            justify-content: center;
            flex: 1;
            #Mouth {
                /* border: 1px solid orange; */
                width: 30rem;
                height: 2rem;
                background-color: black;
            }
        }
    }
}

/* Animation Classes */

.eye {
    &.lookLeft {
        transform: translate(-3rem, 0.3rem);
    }
    &.lookRight {
        transform: translate(3rem);
    }
    &.squint {
        scale: 1 0.8;
    }
}

#Mouth {
    &.lookLeft {
        transform: translate(-1rem);
    }
    &.lookRight {
        transform: translate(1rem, -1rem);
    }
}

/* Animations */

@keyframes blink {
    0%,
    2%,
    100% {
        height: 12rem;
    }
    1% {
        height: 0rem;
    }
}
